<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    {{> style}}
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
{{{ body }}}
</body>
</html>