<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TryCode — realtime collaborative code editor</title>
    {{> style}}
    <link rel="stylesheet" href="/css/password.css">
</head>
<body>
{{{ body }}}
{{> password-scripts}}
</body>
</html>