<div class="wrapper">
    <img class="protected-img" src="/img/protected.png" alt="protected room">
    <h3 class="info-header">Protected</h3>
    <p class="description">This page is protected. To view the content, enter the password.</p>
    <form id="password-form" class="password-form" method="post" action="">
        <input id="password-inpt" class="password-inpt" type="password" name="password" placeholder="Enter password"/>
        <input class="password-btn" type="submit" value="Send">
    </form>
</div>